<h1>プレイヤー<%= @player.id %>を編集</h1>

<form action="/update/<%= @player.id %>" method="post">
    <label for="title">ID</label><br>
    <%= @player.id %>
    <p></p>
    <label for="content">名前</label><br>
    <input type="text" name="name" value="<%= @player.name %>">
    <p></p>

    <label for="content">レベル</label><br>
    <input type="text" name="level" value="<%= @player.level %>">
    <p></p>

    <label for="content">職業</label><br>
    <select name="job_id">
        <% @jobs.each do |job| %>
            <option value=<%= job.id %>><%= job.job_name %></option>
        <% end %>
    </select>

    <button type="submit">保存する</button>
    <a href='/show/<%= @player %>'>キャンセル</a>
</form>

